CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_xiaomi_ax3600=y

CONFIG_LIBCURL_COOKIES=y	
CONFIG_LIBCURL_FILE=y	
CONFIG_LIBCURL_FTP=y	
CONFIG_LIBCURL_HTTP=y	
CONFIG_LIBCURL_NO_SMB="!"	
CONFIG_LIBCURL_OPENSSL=y	
CONFIG_LIBCURL_PROXY=y	
CONFIG_LIBMBEDTLS_HAVE_ARMV8CE_AES=y	
CONFIG_LIBSODIUM_MINIMAL=y


CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSFORWARDER=y
CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSPROXY=y

#CONFIG_PACKAGE_TURBOACC_INCLUDE_OFFLOADING=y
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-nf-flow=y
#CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE=y
#CONFIG_PACKAGE_kmod-fast-classifier=y
#CONFIG_PACKAGE_kmod-shortcut-fe=y
#CONFIG_PACKAGE_kmod-shortcut-fe-cm=y

#语言
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y

CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_zram-swap=y

CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_6to4=y


# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb-dwc3 is not set
# CONFIG_PACKAGE_kmod-usb3 is not set
# CONFIG_PACKAGE_kmod-usb-dwc3-qcom is not set


# CONFIG_PACKAGE_luci-app-adbyby-plus is not set

#CONFIG_PACKAGE_luci-app-adguardhome=y

CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-aliyundrive-webdav=y

CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-frps=y
#CONFIG_PACKAGE_luci-app-dawn=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-dnsfilter=y
CONFIG_PACKAGE_luci-app-jd-dailybonus=y

CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y

CONFIG_PACKAGE_luci-app-n2n_v2=y

CONFIG_PACKAGE_luci-app-netdata=y

CONFIG_PACKAGE_luci-app-ntpc=y

CONFIG_PACKAGE_luci-app-nps=y

#CONFIG_PACKAGE_luci-app-oaf=y

CONFIG_PACKAGE_luci-app-openclash=y

CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Server=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin is not set

CONFIG_PACKAGE_luci-app-pppoe-relay=y

CONFIG_PACKAGE_luci-app-pptp-server=y

CONFIG_PACKAGE_luci-app-pushbot=y

# CONFIG_PACKAGE_luci-app-qos is not set

CONFIG_PACKAGE_luci-app-smartdns=y

CONFIG_PACKAGE_luci-app-sqm=y

CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Simple_Obfs=y

CONFIG_PACKAGE_luci-app-syncdial=y

CONFIG_PACKAGE_luci-app-ttyd=y

CONFIG_PACKAGE_luci-app-udpxy=y

CONFIG_PACKAGE_luci-app-uhttpd=y
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-unblockmusic_INCLUDE_UnblockNeteaseMusic_Go is not set

CONFIG_PACKAGE_luci-app-uugamebooster=y

CONFIG_PACKAGE_luci-app-vlmcsd=y

# CONFIG_PACKAGE_luci-app-vsftpd is not set

CONFIG_PACKAGE_luci-app-wifischedule=y

CONFIG_PACKAGE_luci-app-wireguard=y

CONFIG_PACKAGE_luci-proto-wireguard=y

CONFIG_PACKAGE_luci-theme-infinityfreedom=y


