#配置说明#
#简列举，不需要的插件前后加#编译的时候就不会编译进去#
#目前所有的配置不存在冲突#
#AX6和AX3600配置一致 只需要改AX6或者ax3600即可#
#由于内存分区大小的原因建议不要集成太多插件 因为有可能会不能刷入！
#固定格式：
CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
#Redmiax6
CONFIG_TARGET_ipq807x_generic_DEVICE_redmi_ax6=y
#小米ax3600
#CONFIG_TARGET_ipq807x_generic_DEVICE_xiaomi_ax3600=y

#turboacc加速
CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSFORWARDER=y
CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSPROXY=y
CONFIG_PACKAGE_TURBOACC_INCLUDE_OFFLOADING=y
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-nf-flow=y
#CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE=y
CONFIG_PACKAGE_kmod-fast-classifier=y
CONFIG_PACKAGE_kmod-shortcut-fe=y

#ipv6集成总开关。
CONFIG_PACKAGE_ipv6helper=y

#usb相关内核删除
# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb-dwc3 is not set
# CONFIG_PACKAGE_kmod-usb3 is not set

#插件区，不需要的插件在此区域#注释后，编译的时依赖库及插件都不会编译进固件。
#默认关闭adbplus广告
# CONFIG_PACKAGE_luci-app-adbyby-plus is not set
#adguardhome
CONFIG_PACKAGE_luci-app-adguardhome=y
#easymesh
CONFIG_PACKAGE_luci-app-easymesh=y
#frpc
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-frps=y
#guest-wifi
CONFIG_PACKAGE_luci-app-guest-wifi=y
#jd-签到
#CONFIG_PACKAGE_luci-app-jd-dailybonus=y
#多播虚拟网口
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
#n2n_v2
CONFIG_PACKAGE_luci-app-n2n_v2=y
#netdata
CONFIG_PACKAGE_luci-app-netdata=y
#ntpc
CONFIG_PACKAGE_luci-app-ntpc=y
#nps
CONFIG_PACKAGE_luci-app-nps=y
#oaf
CONFIG_PACKAGE_luci-app-oaf=y
#openclash
CONFIG_PACKAGE_luci-app-openclash=y
#passwall全家桶
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Server=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin is not set
#pppoe拨号
CONFIG_PACKAGE_luci-app-pppoe-relay=y
#pptp
CONFIG_PACKAGE_luci-app-pptp-server=y
#pushbot
CONFIG_PACKAGE_luci-app-pushbot=y
#qos
CONFIG_PACKAGE_luci-app-qos=y
#smartdns
CONFIG_PACKAGE_luci-app-smartdns=y
#sqm
CONFIG_PACKAGE_luci-app-sqm=y
#酸酸乳全家桶
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Simple_Obfs=y
#多播
CONFIG_PACKAGE_luci-app-syncdial=y
#ttyd
CONFIG_PACKAGE_luci-app-ttyd=y
#组播iptv
CONFIG_PACKAGE_luci-app-udpxy=y
#uhttpd
CONFIG_PACKAGE_luci-app-uhttpd=y
#默认不集成网易云配置
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-unblockmusic_INCLUDE_UnblockNeteaseMusic_Go is not set
#UU加速
CONFIG_PACKAGE_luci-app-uugamebooster=y
#默认不集成KMS激活
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
#默认不集成TFTP服务器
# CONFIG_PACKAGE_luci-app-vsftpd is not set
#WiFi控制
CONFIG_PACKAGE_luci-app-wifischedule=y
#wireguard
CONFIG_PACKAGE_luci-app-wireguard=y
#ipv6依赖
CONFIG_PACKAGE_luci-proto-ipv6=y
#wireguard相关
CONFIG_PACKAGE_luci-proto-wireguard=y
#主题,想集成那个插件直接替换luci-theme-argon
CONFIG_PACKAGE_luci-theme-argon=y


#结束。
